{% extends "layout.html" %}
{% block body %}
    <h1>ОПИСАНИЕ ТОВАРА</h1>
    <h2> № {{item.id}} &nbsp;&nbsp;  Название: <em>{{ item.name }}</em> &nbsp;&nbsp;  Цена: {{item.price}} руб.</h2>
    <h2>Технические характеристики:</h2>
    <h3>{{ item.description|safe }} </h3>
    <br>
    <img src="{{ url_for('static', filename=item.image) }}" alt="Embedded Image" style="height:300px;" />
    <hr>
    <br><br>
    <a href="/items/">К списку товаров</a>
    <br>
    <a href="/">На главную страницу</a>
    <br><br><br><br>
{% endblock %}
