{% extends "layout.html" %}
{% block body %}
<h1>СПИСОК ТОВАРОВ</h1>
<ul class=items>
    {% for item in items %}
    <li><h2><a href="/items/{{ item.id }}">Название: <em>{{ item.name }}</em> &nbsp; &nbsp; Цена: <em>{{item.price}}</em>
        руб.</a></h2>
        <img src="{{ url_for('static', filename=item.image) }}" alt="Embedded Image" style="height:50px;"/>
        {% else %}
    <li><em>Unbelievable. No entries here so far</em>
        {% endfor %}
</ul>
<br><br>
<a href="/">На главную страницу</a>
<br><br><br><br><br>
{% endblock %}
